<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="restService" class="server.RestaurantServiceImp">
        <constructor-arg ref="fileSource"/>
    </bean>

    <bean id="fileSource" class="server.CSVRestaurantDataSource">
        <constructor-arg value="restaurant.txt"/>
    </bean>

    <bean id="anyname" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="restService"/>
        <property name="serviceName" value="xxx"/>
        <property name="serviceInterface" value="common.RestaurantService"/>
    </bean>

</beans>